# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [1]:
# write your code here
my_list = [[1, 2], [3, 4], [5, 6]]
value = my_list[1][1]
print(value)

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [2]:
# write your code here
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [3]:
# write your code here
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
second_elements = my_list[1::2]
print(second_elements)

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [4]:
# write your code here
my_list = [10, 20, 30, 40, 50]
my_list[2:4] = [99, 100, 101]
print(my_list)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [5]:
# write your code here
my_list = [1, 2, 3, 4, 5]
my_list[1:3] = [99, 100, 101]
print(my_list)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [6]:
# write your code here
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [7]:
# write your code here
my_list = [1, 2, 3]
my_list.extend("abc")
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [8]:
# write your code here
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

for item in list2:
    if item not in list1:
        list1.extend([item])

print(list1)

[1, 2, 3, 4, 5, 6]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [9]:
# write your code here

my_list = [0] * 100

for i in range(9, 100, 10):
    my_list[i] = 1

print(my_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [10]:
# write your code here
my_list = [1, 2, 3, 4, 5]
print(set([2, 4]).issubset(my_list))

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [11]:
# write your code here
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4]

filtered_list = [x for x in list1 if x not in list2]

print(filtered_list)

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [12]:
# write your code here
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [13]:
# write your code here
my_list = [1, 2, 3, 4, 5]
my_list.append(99)
print(my_list)

[1, 2, 3, 4, 5, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [14]:
# write your code here
my_list = [1, 2, 3, 4, 5]
my_list.insert(1, 99)
print(my_list)

[1, 99, 2, 3, 4, 5]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [15]:
# write your code here
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [16]:
# write your code here
my_list = [1, 2, 3, 4, 5]
popped_value = my_list.pop()
print(popped_value)
print(my_list)

5
[1, 2, 3, 4]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [17]:
# write your code here
my_list = [1, 2, 3, 4, 5]
count = 0
for _ in my_list:
    count += 1
print(count)

5

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [18]:
# write your code here
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[:5])

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [19]:
# write your code here
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [20]:
# write your code here
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [21]:
# write your code here
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [22]:
# write your code here
my_list = [1, 2, 3, 4, 5]
numeric_sum = sum(my_list)
print(numeric_sum)

15

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [23]:
# write your code here
odd_numbers = [x for x in range(1, 11) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [24]:
# write your code here
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [25]:
# write your code here
my_string = "hello"
char_list = list(my_string)
print(char_list)

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [26]:
# write your code here
my_list = [1, 2, 3, 4, 5]
product_value = 1
for num in my_list:
    product_value *= num
print(product_value)

120

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [28]:
# write your code here
my_list = [5, 2, 9, 1, 7]
my_list.sort()
print(my_list)

[1, 2, 5, 7, 9]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [29]:
# write your code here
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [30]:
# write your code here
my_list = [1, 2, 3, 4, 5]
index = 0
while index < len(my_list):
    print(my_list[index])
    index += 1

1
2
3
4
5

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [31]:
# write your code here
my_list = [1, 2, 3, 4, 5]
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3
Index: 3, Value: 4
Index: 4, Value: 5

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [32]:
# write your code here
my_list = [10, 20, 30, 40, 50]
element_to_find = 30
index = my_list.index(element_to_find)
print(index)

2

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [33]:
# write your code here
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [34]:
# write your code here
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print(third_element)

30

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [35]:
# write your code here
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
last_three = my_tuple[-3:]
print(last_three)

(8, 9, 10)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [36]:
# write your code here
my_tuple = (10, 20, 30, 40, 50)
element_to_find = 30
exists = element_to_find in my_tuple
print(exists)

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [37]:
# write your code here
my_tuple = (10, 20, 30, 40, 50)
element_to_find = 30
index = my_tuple.index(element_to_find)
print(index)

2

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [38]:
# write your code here
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2
count = my_tuple.count(element_to_count)
print(count)

3

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [39]:
# write your code here
my_tuple = ((1, 2), (3, 4), (5, 6))
nested_value = my_tuple[1][0]
print(nested_value)

3

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [40]:
# write your code here
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
print(are_equal)

True

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [41]:
# write your code here
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [42]:
# write your code here
my_tuple = (10, 20, 30, 40, 50)
sum_value = sum(my_tuple)
print(sum_value)

150

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [43]:
# write your code here
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [44]:
# write your code here
my_tuple = (1, 2, 3, 4, 5)
for element in my_tuple:
    print(element)

1
2
3
4
5

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [45]:
# write your code here
my_tuple = (1, 2, 3)
try:
    my_tuple[0] = 10
except TypeError as e:
    print("TypeError handled:", e)

TypeError handled: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [46]:
# write your code here
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a, b, c)

10 20 30

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [47]:
# write your code here
my_dict = {(1, 2): 'value'}
print(my_dict)

{(1, 2): 'value'}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [48]:
# write your code here
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print(length)

5

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [49]:
# write your code here
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
comparison_result = tuple1 < tuple2
print(comparison_result)

True

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [50]:
# write your code here
my_tuple = (10, 20, 30, 40, 50)
max_value = max(my_tuple)
min_value = min(my_tuple)
print(max_value, min_value)

50 10

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [51]:
# write your code here
my_tuple = ((1, 2), (3, 4), (5, 6))
nested_value = my_tuple[1][0]
print(nested_value)

3

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [58]:
# write your code here
import sys

my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

list_size = sys.getsizeof(my_list)
tuple_size = sys.getsizeof(my_tuple)

print("Memory size of list:", list_size, "bytes")
print("Memory size of tuple:", tuple_size, "bytes")

# Compare sizes
if tuple_size < list_size:
    print("Tuple is smaller than list (tuple_size < list_size)")
else:
    print("List is smaller or equal (list_size <= tuple_size)")

Memory size of list: 104 bytes
Memory size of tuple: 80 bytes
Tuple is smaller than list (tuple_size < list_size)

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [59]:
# write your code here
my_set = set(range(10, 16))
print(my_set)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [60]:
# write your code here
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)

{1, 2, 3, 4, 5, 6}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [61]:
# write your code here
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [62]:
# write your code here
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
print(is_superset)

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [64]:
# write your code here
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

diff = A - B
print("A - B =", diff)

A - B = {1, 2}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [65]:
# write your code here
multiples_of_3 = set(range(3, 16, 3))
print(multiples_of_3)

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [66]:
# write your code here
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [67]:
# write your code here
my_set = set()
is_empty = not bool(my_set)
print(is_empty)

True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [68]:
# write your code here
my_set = {10, 20, 30, 40, 50}
max_value = max(my_set)
print(max_value)

50

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [69]:
# write your code here
my_set = {10, 20, 30, 40, 50}
min_value = min(my_set)
print(min_value)

10

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [70]:
# write your code here
my_set = {'a', 'b', 'c'}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({'a', 'c', 'b'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [71]:
# write your code here
my_frozen_set = frozenset([1, 2, 3])
try:
    my_frozen_set.add(4)
except AttributeError as e:
    print("AttributeError handled:", e)

AttributeError handled: 'frozenset' object has no attribute 'add'

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [72]:
# write your code here
frozen_set = frozenset([1, 2, 3])
regular_set = {3, 4, 5}

combined_set = frozen_set.union(regular_set)
print(combined_set)

frozenset({1, 2, 3, 4, 5})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [73]:
# write your code here
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [74]:
# write your code here
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A  B
```

In [75]:
# write your code here
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

intersection_set = A.intersection(B)
print("A  B =", intersection_set)

A  B = {3, 4, 5}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A  B) set
```

In [78]:
# write your code here
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}

sym_diff = A.symmetric_difference(B)
print("(A  B) =", sym_diff)

(A  B) = {1, 2, 3, 6, 7}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [79]:
# write your code here
my_set = {1, 2, 3, 4, 5}
for element in my_set:
    print(element)

1
2
3
4
5

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [80]:
# write your code here
my_set = {1, 2, 3, 4, 5}
count = len(my_set)
print(count)

5

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [81]:
# write your code here
A = {1, 2, 3}
B = A.copy()

print("A is B:", A is B)

A.add(4)
print("A is B:", A is B)

A is B: False
A is B: False

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.