# NumPy Practice Questions

**Instructions:** Dear Students Each question is self‑explanatory. Read the markdown prompt and write the code in the cell below it where marked `# answer here`. Keep solutions simple and focused on the asked concept.

- Q1–Q30: Single-topic questions in sequence (basics → indexing → operations → aggregations → reshaping/broadcasting → utilities).

- Q31–Q35: Multi‑concept (combine 2–3 ideas you practiced).

- Q36–Q40: Use a single dataset loaded via **pandas** and perform **NumPy** operations on it. The file `students_scores.csv` is already available in the same folder as this notebook.

### Q1. Create a 1D NumPy array from the Python list `[1, 2, 3, 4, 5]` and print its type and contents.

In [1]:
# answer here
import numpy as np
arr = np.array([1,2,3,4,5])
print(type(arr))

<class 'numpy.ndarray'>

### Q2. Create a 2D NumPy array from `[[1, 2, 3], [4, 5, 6]]` and print its `shape` and `ndim`.

In [2]:
# answer here
import numpy as np
arr = np.array([[1,2,3],[4,5,6]])
print(arr.shape)

(2, 3)

### Q3. Create an array of 6 zeros and print it.

In [3]:
# answer here
import numpy as np
arr = np.zeros(6)
print(arr)

[0. 0. 0. 0. 0. 0.]

### Q4. Create an array of 5 ones (float) and print it.

In [4]:
# answer here
import numpy as np
arr = np.ones(5)
print(arr)

[1. 1. 1. 1. 1.]

### Q5. Use `np.arange` to create an array from 2 to 14 (inclusive of 2, exclusive of 14) with a step of 2 and print it.

In [5]:
# answer here
import numpy as np
arr = np.arange(2,14,2)
print(arr)

[ 2  4  6  8 10 12]

### Q6. Use `np.linspace` to create 5 evenly spaced values from 0 to 1 and print them.

In [6]:
# answer here
import numpy as np
arr = np.linspace(0,1,5)
print(arr)

[0.   0.25 0.5  0.75 1.  ]

### Q7. Create an integer array `[10, 20, 30]` then convert it to `float` dtype and print both arrays.

In [7]:
# answer here
import numpy as np
arr = np.array([10,20,30])
print(arr.dtype)

int64

### Q8. Create an array of 12 numbers from 0 to 11 and reshape it to `3x4`; print the reshaped array.

In [8]:
# answer here
import numpy as np
arr = np.arange(12).reshape(3,4)
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

### Q9. For the array `a = np.array([[1,2,3],[4,5,6]])`, print `a.shape`, `a.ndim`, and `a.size`.

In [9]:
# answer here
import numpy as np
a = np.array([[1,2,3],[4,5,6]])
print(a.shape)

(2, 3)

### Q10. For the array `a = np.array([1,2,3], dtype=np.int32)`, print `a.dtype` and `a.itemsize`.

In [10]:
# answer here
import numpy as np
a = np.array([1,2,3], dtype=np.int32)
print(a.dtype)

int32

### Q11. Given `arr = np.array([10, 20, 30, 40, 50])`, print the first element, last element, and the element at index 2.

In [11]:
# answer here
import numpy as np
arr = np.array([10,20,30,40,50])
print(arr[0])

10

### Q12. Given `arr = np.array([5, 10, 15, 20, 25])`, use negative indexing to print the last two elements.

In [12]:
# answer here
import numpy as np
arr = np.array([5,10,15,20,25])
print(arr[-2:])

[20 25]

### Q13. Given `arr = np.array([0,1,2,3,4,5,6,7,8,9])`, print the slice from index 2 to 7 (exclusive).

In [13]:
# answer here
import numpy as np
arr = np.array([0,1,2,3,4,5,6,7,8,9])
print(arr[2:7])

[2 3 4 5 6]

### Q14. Given `m = np.arange(1,13).reshape(3,4)`, print the second row and the third column (as 1D slices).

In [14]:
# answer here
import numpy as np
m = np.arange(1,13).reshape(3,4)
print(m[1,2])

7

### Q15. Given `m = np.arange(1,13).reshape(3,4)`, print the submatrix containing rows 0 to 1 and columns 1 to 3.

In [15]:
# answer here
import numpy as np
m = np.arange(1,13).reshape(3,4)
print(m[0:2,1:3])

[[2 3]
 [6 7]]

### Q16. Given `arr = np.arange(1,11)`, create a boolean mask for even numbers and print the even elements.

In [16]:
# answer here
import numpy as np
arr = np.arange(1,11)
mask = arr%2==0
print(arr[mask])

[ 2  4  6  8 10]

### Q17. Given `arr = np.arange(1,11)`, set all odd elements to `-1` (modify in place) and print the result.

In [17]:
# answer here
import numpy as np
arr = np.arange(1,11)
arr[arr%2!=0]=-1
print(arr)

[-1  2 -1  4 -1  6 -1  8 -1 10]

### Q18. Given `arr = np.array([1,2,3])`, add `5` to every element and print the result (element‑wise).

In [18]:
# answer here
import numpy as np
arr = np.array([1,2,3])
arr+=5
print(arr)

[6 7 8]

### Q19. Given `a = np.array([1,2,3])` and `b = np.array([4,5,6])`, print `a + b` and `a * b` (element‑wise).

In [19]:
# answer here
import numpy as np
a = np.array([1,2,3])
b = np.array([4,5,6])
print(a+b)
print(a*b)

[5 7 9]
[ 4 10 18]

### Q20. Given `a = np.array([1,2,3])` and `b = np.array([[10],[20],[30]])`, use broadcasting to compute `a + b` and print it.

In [20]:
# answer here
import numpy as np
a = np.array([1,2,3])
b = np.array([[10],[20],[30]])
print(a+b)

[[11 12 13]
 [21 22 23]
 [31 32 33]]

### Q21. Given `arr = np.array([3, 7, 2, 9, 5])`, print its `sum`, `mean`, `min`, and `max`.

In [22]:
# answer here
import numpy as np
arr = np.array([3,7,2,9,5])
print(arr.sum())
print(arr.mean())
print(arr.min())
print(arr.max())

26
5.2
2
9

### Q22. Given `m = np.arange(1,13).reshape(3,4)`, print the sum along axis 0 and along axis 1.

In [23]:
# answer here
import numpy as np
m = np.arange(1,13).reshape(3,4)
print(m.sum(axis=0))
print(m.sum(axis=1))

[15 18 21 24]
[10 26 42]

### Q23. Given `arr = np.array([10, 20, 5, 40, 25])`, print the indices of the `max` and `min` elements using `np.argmax` and `np.argmin`.

In [24]:
# answer here
import numpy as np
arr = np.array([10,20,5,40,25])
print(np.argmax(arr))
print(np.argmin(arr))

3
2

### Q24. Given `arr = np.array([3, 3, 1, 2, 2, 2, 5])`, print the sorted array and the unique values using `np.unique`.

In [25]:
# answer here
import numpy as np
arr = np.array([3,3,1,2,2,2,5])
print(np.sort(arr))
print(np.unique(arr))

[1 2 2 2 3 3 5]
[1 2 3 5]

### Q25. Given `arr = np.array([9, 1, 5, 3, 7])`, sort it in ascending order and print the result (do not modify original).

In [26]:
# answer here
import numpy as np
arr = np.array([9,1,5,3,7])
print(np.sort(arr))

[1 3 5 7 9]

### Q26. Given `a = np.array([1,2,3])` and `b = np.array([4,5,6])`, horizontally concatenate them and print the result.

In [27]:
# answer here
import numpy as np
a = np.array([1,2,3])
b = np.array([4,5,6])
print(np.hstack((a,b)))

[1 2 3 4 5 6]

### Q27. Given `A = np.array([[1,2],[3,4]])` and `B = np.array([[5,6],[7,8]])`, stack them vertically and print the result.

In [28]:
# answer here
import numpy as np
A = np.array([[1,2],[3,4]])
B = np.array([[5,6],[7,8]])
print(np.vstack((A,B)))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

### Q28. Given `arr = np.arange(1,13)`, split it into 3 equal parts and print each part.

In [29]:
# answer here
import numpy as np
arr = np.arange(1,13)
print(np.split(arr,3))

[array([1, 2, 3, 4]), array([5, 6, 7, 8]), array([ 9, 10, 11, 12])]

### Q29. Set a random seed (e.g., 42), generate 5 random integers from 0 to 9 using `np.random.randint`, and print them.

In [30]:
# answer here
import numpy as np
np.random.seed(42)
print(np.random.randint(0,10,5))

[6 3 7 4 6]

### Q30. Given `arr = np.array([-3, 1, -1, 4, -2, 5])`, use `np.where` to replace negative values with `0` and print the new array.

In [31]:
# answer here
import numpy as np
arr = np.array([-3,1,-1,4,-2,5])
print(np.where(arr<0,0,arr))

[0 1 0 4 0 5]

### Q31. Create a 3D array of shape `(2, 3, 4)` using `np.arange` then compute the mean along axis 2 and print the result.

In [32]:
# answer here
import numpy as np
arr = np.arange(24).reshape(2,3,4)
print(np.mean(arr,axis=2))

[[ 1.5  5.5  9.5]
 [13.5 17.5 21.5]]

### Q32. Create an array from `[5, 10, 15, 20, 25]`, slice out `[10, 15, 20]`, then normalize that slice to range 0–1 using min‑max formula and print it.

In [33]:
# answer here
import numpy as np
arr = np.array([5,10,15,20,25])
print((np.array([10,15,20])-arr.min())/(arr.max()-arr.min()))

[0.25 0.5  0.75]

### Q33. Create two 1D arrays `a=[1,2,3]` and `b=[4,5,6]`; compute the dot product and also form a `3x2` matrix from `a` and `b` and print both results.

In [34]:
# answer here
import numpy as np
a = np.array([1,2,3])
b = np.array([4,5,6])
print(np.dot(a,b))
print(np.array([a,b]).reshape(3,2))

32
[[1 2]
 [3 4]
 [5 6]]

### Q34. Create an array of 12 values (1–12), reshape it to `3x4`, then count how many values are greater than `6` and print the count.

In [35]:
# answer here
import numpy as np
arr = np.arange(1,13).reshape(3,4)
print(np.count_nonzero(arr>6))

6

### Q35. Create an array from 0–9; replace all odd numbers with `-1` *except* keep the first and last elements unchanged; print the final array.

In [36]:
# answer here
import numpy as np
arr = np.arange(10)
arr[1:-1][arr[1:-1]%2!=0]=-1
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8  9]

### Dataset for Q36–Q40

A CSV file **`students_scores.csv`** is already placed in this folder (Link-https://drive.google.com/file/d/1B7zDahhmQzXkQmvskS27H07B4Xftf9xA/view?usp=sharing).  

Columns: `id, math, english, science` (10 students). Use **pandas** to import the file and then perform **NumPy** operations.

### Q36. Import `students_scores.csv` as a pandas DataFrame `df`. Then convert the `math`, `english`, and `science` columns to separate NumPy arrays and print their shapes.

In [39]:
# answer here
import pandas as pd
import numpy as np
import os

file_path = 'students_scores.csv'

if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print("File loaded successfully.")
else:
    print("File not found! Using sample data instead.")

    df = pd.DataFrame({
        'student_id': [1, 2, 3, 4, 5],
        'math': [78, 85, 92, 66, 74],
        'english': [81, 79, 88, 70, 77],
        'science': [75, 90, 85, 68, 80]
    })

math_array = df['math'].to_numpy()
english_array = df['english'].to_numpy()
science_array = df['science'].to_numpy()

print("Math array shape   :", math_array.shape)
print("English array shape:", english_array.shape)
print("Science array shape:", science_array.shape)

File not found! Using sample data instead.
Math array shape   : (5,)
English array shape: (5,)
Science array shape: (5,)

### Q37. Using NumPy on the arrays from Q36, compute the mean score of each subject (math, english, science) and print them.

In [40]:
# answer here
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'math': [78, 85, 92, 66, 74],
    'english': [81, 79, 88, 70, 77],
    'science': [75, 90, 85, 68, 80]
})

math_array = df['math'].to_numpy()
english_array = df['english'].to_numpy()
science_array = df['science'].to_numpy()

math_mean = np.mean(math_array)
english_mean = np.mean(english_array)
science_mean = np.mean(science_array)

print("Average Math Score    :", math_mean)
print("Average English Score :", english_mean)
print("Average Science Score :", science_mean)

Average Math Score    : 79.0
Average English Score : 79.0
Average Science Score : 79.6

### Q38. Using NumPy, compute each student’s **total score** (math + english + science) and print the `id` of the student with the highest total.

In [41]:
# answer here
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'math': [78, 85, 92, 66, 74],
    'english': [81, 79, 88, 70, 77],
    'science': [75, 90, 85, 68, 80]
})

math_array = df['math'].to_numpy()
english_array = df['english'].to_numpy()
science_array = df['science'].to_numpy()

total_scores = math_array + english_array + science_array

top_index = np.argmax(total_scores)
top_student_id = df['student_id'].iloc[top_index]

print("Total Scores:", total_scores)
print("Student with highest total score is ID:", top_student_id)
print("Highest Total Score:", total_scores[top_index])

Total Scores: [234 254 265 204 231]
Student with highest total score is ID: 3
Highest Total Score: 265

### Q39. Using NumPy, standardize the `math` scores to **z-scores**: `(x - mean) / std` and print the first 5 standardized values.

In [42]:
# answer here
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'math': [78, 85, 92, 66, 74],
    'english': [81, 79, 88, 70, 77],
    'science': [75, 90, 85, 68, 80]
})

math_array = df['math'].to_numpy()

mean_math = np.mean(math_array)
std_math = np.std(math_array)
z_scores = (math_array - mean_math) / std_math

print("Mean of math scores:", mean_math)
print("Standard deviation:", std_math)
print("First 5 standardized (z-score) values:")
print(z_scores[:5])

Mean of math scores: 79.0
Standard deviation: 8.94427190999916
First 5 standardized (z-score) values:
[-0.1118034   0.67082039  1.45344419 -1.45344419 -0.55901699]

In [ ]:
# this is how you can approach question number 39
# dont fear about std(standard deviation , just google it and you understand its simple, else you can connect for doubts)


import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("students_scores.csv")

# Extract math column as NumPy array
math_scores = df["math"].values

# Compute z-scores
z_scores = (math_scores - np.mean(math_scores)) / np.std(math_scores)

# Print first 5 standardized values
print(z_scores[:5])

### Q40. Using NumPy logical operations, count how many students scored **≥ 70 in all three subjects** and print that count.

In [43]:
# answer here
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'student_id': [1, 2, 3, 4, 5],
    'math': [78, 85, 92, 66, 74],
    'english': [81, 79, 88, 70, 77],
    'science': [75, 90, 85, 68, 80]
})

math_array = df['math'].to_numpy()
english_array = df['english'].to_numpy()
science_array = df['science'].to_numpy()

condition = (math_array >= 70) & (english_array >= 70) & (science_array >= 70)
count = np.sum(condition)

print("Number of students scoring ≥ 70 in all subjects:", count)

Number of students scoring ≥ 70 in all subjects: 4